.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.popup:not(:has(.popup__container_active)) {
  background-color: transparent; /* Стандартный фон страницы */
}

.popup:has(.popup__container_active) {
  background-color: rgba(0, 0, 0, 0.5); /* Фон при активном попапе */
}
