.profile {
  display: flex;
  max-width: 880px;
  margin: 40px auto auto;
  outline: 1px solid red;
}

.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  outline: 1px solid red;
}

.profile__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 336px;
  margin-left: 30px;
  outline: 1px solid red;
}

.profile__author {
  margin: 0;
  margin-top: 22px;
  max-width: 294px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  color: #ffffff;
}

.profile__bio {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 25px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.profile__edit {
  margin: 0;
  margin-top: 37px;
  margin-left: 18px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  align-content: baseline;
  background-image: url("./images/Vectorpencill__icon.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border: 1px solid #ffffff;
}

.profile__addButton {
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: black;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  background-image: url("./images/Vectoradd__icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
