.popup__container {
  display: none;
  position: relative;
  width: 430px;
  transition: visibility 0.1s, opacity 0.5s linear;
}

.popup__container_active {
  display: flex;
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 500px) {
  .popup__container {
    width: 282px;
  }
}
