.popup__container {
  display: none;
  position: relative;
  width: 430px;

}

.popup__container_active {
  display: flex;
}

@media screen and (max-width: 500px) {
  .popup__container {
    width: 282px;
  }
}
