.popup__close-icon {
  display: flex;
  position: absolute;
  width: 32px;
  height: 32px;
  justify-content: flex-end;
  top: 0;
  right: 0;
  margin-top: -40px;
  margin-right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url("../../../images/Close\ Iconclose_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  background-size: cover;
  border: 0;
  background-color: transparent;
  z-index: 1;
}

.popup__close-icon:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 500px) {
  .popup__close-icon {
    margin-right: -12px;
  }
}
