.popup__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 54px;
  gap: 30px;
}

@media screen and (max-width: 500px) {
  .popup__inputs {
    margin-top: 75px;
  }
}
