.profile__bio {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 25px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

@media screen and (max-width: 650px) {
  .profile__bio {
    margin: 0;
    margin: 14px auto auto;
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }
}
